<footer>
    <section class="bg-gray pt-3 pb-4">
        <div class="container-small">
            <nav class="footer-nav row d-flex align-items-center justify-content-between px-3 mx-3">
                <ul class="list-unstyled row text-muted footer-nav my-auto footer-nav-text ">
                    <li class="px-2"><a href="#">Главная</a></li>
                    <li class="px-2"><a href="#">О компании</a></li>
                    <li class="px-2"><a href="#">Отзывы</a></li>
                    <li class="px-2"><a href="#">Оплата и доставка</a></li>
                    <li class="px-2"><a href="#">Контакты</a></li>

                </ul>
                <div class="uplink">
                    <a href="#home" class="arrow row ">
                        <div class="up-text my-auto px-3">Наверх</div>
                        <img src="./img/arow.png" alt="arrow" class="up">
                    </a>
                </div>

            </nav>
            <div class="footer-contacts row mx-3 mt-md-3">
                <div class="numbers col my-auto ml-4 pl-4">
                    <div class=""> <a href="tel:+380955566666">095 556-66-66</a></div>
                    <div class=""> <a href="tel:+380985566666">098 556-66-66</a></div>

                </div>
                <ul class="socials">
                    <li class="socials__item"><a href="#" class="socials__link"><i class="fab fa-twitter"></i></a></li>
                    <li class="socials__item"><a href="#" class="socials__link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="socials__item"><a href="#" class="socials__link"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="container-small">
        <section class="text-muted authors footer-nav row justify-content-between m-3">
            <div class="author">Группа компаний <a href="#">«ГАМАЮН» </a>©2020</div>
            <img src="./img/triangle.png" alt="triangle" class="f-img m-auto py-2">
            <div class="author footer-nav">Разработано: <a href="#"><u>«Respect Design»</u></a></div>
        </section>
    </div>
</footer>